:root {
    --text: #0f0f10;
    --background: #f7f7f8;
    --primary-button: #5849ab;
    --secondary-button: #d8d4ed;
    --accent: #4f429a;
}

* {
    padding: 0;
    margin: 0;
    font-family: "inter";
}
body {
    /* background-color: ghostwhite; */
    background-color: var(--background);
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.navbar > * {
    padding: 0.5rem;
}

.navbar h1 {
    font-weight: 800;
    color: var(--primary-button);
    font-size: 3.5rem;
}
.navbar-list {
    position: sticky;
    list-style: none;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.navbar-list > li {
    padding: 0.5rem 0;
}

.navbar-list > button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--background);
    /* background-color: var(--secondary-button); */
    border-radius: 0.3rem;
    font-size: 2rem;
    color: var(--text);
    /* color: rgb(70, 70, 70); */
    transition: ease-in-out 0.15s;
}
.navbar-list > button:hover {
    cursor: pointer;
    transform: translate3d(-2px, -5px, 0);
    text-shadow: 0 5px 40px var(--accent);
    /* box-shadow: 5px 5px deeppink; */
    /* background-color: var(--secondary-button); */
    transition: ease-in-out 0.15s;
}
.navbar-list > button > a {
    text-decoration: none;
    color: inherit;
}

/* .navbar-selected {
    color: green;
    font-size: 5rem;
    background-color: red;
} */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 60%; */
}

.big-text {
    font-size: 2.5rem;
    color: var(--text);
    font-weight: 300;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}
.content > p {
    font-size: 1.1rem;
    max-width: 50%;
    /* color: rgb(88, 88, 88);
     */
    color: var(--text);
}

/* Projects page */

.project-tile {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: ease-in-out 0.1s;
    /* border: 1px solid var(--secondary-button); */
}
.project-tile-desc > h1 {
    margin: 0.5rem 0;
    font-weight: 800;
    font-size: 1.5rem;
    /* color: var(--accent); */
    text-shadow: 3px 3px 5px var(--secondary-button);
}
.project-tile:hover {
    transition: ease-in-out 0.15s;
    box-shadow: 3px 3px 10px var(--primary-button);
    transform: translate3d(-6px, -6px, 0);
    cursor: pointer;
}

.project-tile > img {
    max-height: 9rem;
    padding: 0 0.2rem;
}

.slide-in-animation {
    transform: translateX(-100%);
    /* opacity: 0; */
    transition: transform 0.3s ease-in;
}
