:root {
    --text: #0f0f10;
    --subtext: rgb(80, 80, 80);
    --background: #e9ebf1;
    --primary-button: #5849ab;
    --secondary-button: #d8d4ed;
    --accent: #4f429a;
}

* {
    padding: 0;
    margin: 0;
    font-family: "inter";
}
body {
    /* background-color: ghostwhite; */
    background-color: var(--background);
}
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.navbar > * {
    padding: 0.5rem;
}

.navbar h1 {
    font-weight: 800;
    color: var(--primary-button);
    font-size: 3.5rem;
}
.navbar-list {
    position: sticky;
    list-style: none;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.navbar-list > li {
    padding: 0.5rem 0;
}

.navbar-list > button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--background);
    /* background-color: var(--secondary-button); */
    border-radius: 0.3rem;
    font-size: 2rem;
    color: var(--text);
    /* color: rgb(70, 70, 70); */
    transition: ease-in-out 0.15s;
}
.navbar-list > button:hover {
    cursor: pointer;
    transform: translate3d(-2px, -5px, 0);
    text-shadow: 0 5px 40px var(--accent);
    /* box-shadow: 5px 5px deeppink; */
    /* background-color: var(--secondary-button); */
    transition: ease-in-out 0.15s;
}
.navbar-list > button > a {
    text-decoration: none;
    color: inherit;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    padding-bottom: 0.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-button {
    border: none;
    background: inherit;
    appearance: none;
    cursor: pointer;
    margin: 1rem;
    font-size: 3rem;
    color: var(--subtext);
}
.footer-button:hover {
    transition: ease-in-out 0.15s;
    transform: translate3d(-1px, -2px, 0);
    color: var(--primary-button);
}

/* .navbar-selected {
    color: green;
    font-size: 5rem;
    background-color: red;
} */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 60%; */
}

.big-text {
    font-size: 1.6rem;
    color: var(--text);
    font-weight: 500;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    transition: ease-in 0.5s;
}
.content > p {
    font-size: 1.1rem;
    max-width: 50%;
    /* color: rgb(88, 88, 88);
     */
    color: var(--text);
}

/* Projects page */
.projects-list {
    list-style: square;
    margin: 2rem;
    margin-top: 0;
}
.project-tile-wrapper {
    margin: 1.5rem;
    transition: ease-in-out 0.1s;
    cursor: pointer;
    user-select: none;
}
/* 
.project-tile {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
} */

.project-tile > h1 {
    font-size: 2rem;
    transition: ease-in 0.05s;
}
.project-tile > p {
    color: var(--subtext);
}

.project-tile-wrapper:hover {
    transform: translateX(-5px);
    transition: ease-in-out 0.1s;
}

.project-tile:hover > h1 {
    color: var(--primary-button);
    text-shadow: 3px 3px 2px var(--secondary-button);
    transition: ease-in 0.05s;
}
